#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 8px;
  background-color: #eaeaea;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  box-sizing: border-box;
  min-width: 720px;
  margin-bottom: 4px;
}
.card-buttons {
  margin-bottom: 8px;
}
.card-buttons:last-child {
  margin-bottom: 0px;
}
.card-stats {
  margin-bottom: 4px;
}

.card-child {
  margin-left: 4px;
}

.fact {
  width: 720px;
  margin-bottom: 16px;
}

.read-the-docs {
  color: #888;
}

label:first-child {
  margin-right: 8px;
}
